@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nextra-primary-hue: 204;
  --nextra-primary-saturation: 100%;
  --nextra-primary-lightness: 55%;
  --nextra-bg: 255, 255, 255;
  --nextra-content-width: 90rem;
}

html.dark {
  --nextra-bg: 17, 17, 17;
}

ul.nextra-menu-desktop > li.open > button {
  font-weight: 600;
  margin: 0.25rem 0 0.125rem 0;
  filter: contrast(3);
  transition: 250ms;
}

a {
  transition: color 150ms ease-in-out;
}

a:hover,
a:focus-visible {
  color: white;
}

a:active {
  color: white;
}
