@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nextra-primary-hue: 204;
  --nextra-primary-saturation: 100%;
  --nextra-primary-lightness: 55%;
  --nextra-bg: 255, 255, 255;
  --nextra-content-width: 90rem;
}

html.dark {
  --nextra-bg: 17, 17, 17;
}

ul.nextra-menu-desktop > li.open > button {
  font-weight: 600;
  margin: 0.25rem 0 0.125rem 0;
  filter: contrast(3);
  transition: 250ms;
}

a {
  transition: color 150ms ease-in-out;
}

html:not(.dark) a:hover,
html:not(.dark) a:focus-visible,
html:not(.dark) a:active {
  color: #0f172a;
}

html.dark a:hover,
html.dark a:focus-visible,
html.dark a:active {
  color: white;
}

/* Fix duplicate external link icons */
/* Nextra automatically adds external link icons, so we hide duplicates */
a[target="_blank"] svg:nth-of-type(n + 2),
a[href^="http"]:not([href*="docs.superseed.xyz"]):not([href*="localhost"])
  svg:nth-of-type(n + 2),
a[target="_blank"] span svg:nth-of-type(n + 2),
a[href^="http"]:not([href*="docs.superseed.xyz"]):not([href*="localhost"])
  span
  svg:nth-of-type(n + 2) {
  display: none !important;
}
